body {
    background-color: black;
    color: rgb(255, 166, 0);
}

/* Hero Section Styles */
nav {
    position: absolute;
}
.hero-wrap {
    height: 490px;
    align-content: center;
    background-image: url(./../assets/img/bg.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    position: initial;
    top: -150px ;
    opacity: 0;
    animation-name: hero;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    vertical-align: middle;
}

@keyframes hero {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(200px);
        opacity: 0.4;
    }
    75% {
        transform: translateY(170px);
        opacity: 1;
    }
    100% {
        transform: translateY(200px);
        opacity: .5;
    }
}
