html, body {
    overflow-x: hidden;
}

/* Cumulative styles to be inherited by multiple/selectors elements */
body {
    background-color: black;
    color: rgb(255, 166, 0);
}

.button-read-more {
    width: 140px;
    border-radius: 22.5px;
    color: white;
    background-color: rgb(89, 82, 128);
    padding: 10px 20px;
}

.button-read-more:hover {
    background-color: white;
    color:  rgb(136, 57, 136);
    text-decoration: none;
}
/* ---Header Styles--- */
.navbar-li {
    background-color: rgba(80, 75, 80, 0.918);
    margin: 8px;
    border-left: solid 5px #cc04c283;
    padding: 8px;
    transform: rotate(-30deg); 
    transition: transform .8s ease ;   
}
.navbar-li:hover {
    transform: scale(1.3);
    border-left: solid 5px #fd9002;
}
@media all and (max-width: 991px){
    .navbar-li {
        width: 90px;
        float: right;
        background-color: rgba(80, 75, 80, 0.479);
        transform: scale(.8) rotate(-30deg) ;
    }
    .navbar-nav {
        float: right;
    }
}
a.navbar-link {
    padding: 8px;
    color: white;
    vertical-align: middle;
}
li a {
    transition: color 1s, transform 2s;
}
li a:hover {
    color: #fd9002;
    text-decoration: none;
}

/* Index page styles */
/* carousel styles */
h2 .card_title {
    margin-bottom: 0;
}
.card-img-overlay {
   background-color: #5e035983;
   padding: 10px 20px;
}
.item {
    height: 450px;
}
.forex,
.modern {
    height: 448px;
}


/* Hero Section Styles */
nav {
    position: absolute;
}
.hero-wrap {
    align-content: center;
    background-image: url(./../assets/img/bg.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    padding: 50px;
}
.hero {
    top: -150px ;
    opacity: 0;
    animation-name: hero;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    vertical-align: middle;
}

@keyframes hero {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(200px);
        opacity: 0.4;
    }
    75% {
        transform: translateY(170px);
        opacity: 1;
    }
    100% {
        transform: translateY(200px);
        opacity: .5;
    }
}

@media all and (max-width: 420px){
    .hero {
        font-size: 39px;
    }
    .hero-wrap {
      text-align: center;
      margin-bottom: 150px;
      overflow: hidden;
      padding: 0;
    }
  }
/* Astronaut image styles */

.astro {
    height: 200px;
    transform: translateY(-200px);
    opacity: 0;
    animation: astro 30s ease 4s infinite normal forwards;
    position: absolute;
}
@keyframes astro {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    12.5% {
        transform: translateY(-350px);
        opacity: .8;
    }
    25% {
        transform: translateY(-290px);
        opacity: .9;
    }
    37.5% {
        transform: translateY(-350px)scale(.9);
        opacity: .8;
    }
    50% {
        transform: translateY(-290px) scale(.8) ;
        opacity: .7 ;
    }
    62.5% {
        transform: translateY(-350px) scale(.7);
        opacity: .6;
    }
    75% {
        transform: translateY(-300px) scale(.6);
        opacity: .5;
    }
    87.5% {
        transform: translateY(-350px) scale(.5);
        opacity: .4;
    }
    100% {
        transform: translateY(-300px) scale(.2);
        opacity: 0;
    }
}
/*  ABOUT TEXT CONTENT SECTION */
.content {
    padding: 60px 40px 90px 40px ;
    border-radius: 50px;
    box-shadow: -15px 10px 12px  rgba(136, 128, 161, 0.438);
    background-color: #68096383;
    margin: 0 0 100px 0;

}
.content, 
.rocket-wrap {
    height: 340px;
    /* padding: 20px; */
    align-items: center;
}
@media all and (max-width: 572px ){
    .content-wrap {
        padding: 10px;
    }
}
@media all and (max-width: 768px ){
    .content {
        padding: 30px 20px 90px 20px;
    }
}
@media all and (max-width: 375px ){
    .content-wrap {
        padding: 10px;
    }
    .content {
        padding-top: 30px;
    }
}
@media all and (max-width: 420px ){
    .content-wrap {
        padding: 10px;
    }
    .content {
        padding: 30px 20px 90px 20px;
    }
}
.wrap-rocket {
    transform: translateY(250px);
}
.rocket-wrap {
    transform: translateY(300px);
    animation: path 12s linear 2s infinite normal forwards;
}
.rocket {
    position: absolute;
    animation:
    rotate 1s linear 1 normal forwards,
    rocket 3s linear 3s infinite normal forwards;
}
@keyframes rotate {
    from {
        opacity: 0;
    }
    to {
        transform: rotateZ(60deg);
        opacity: 1;
    }
}
@keyframes path {
    0% {
        transform:translateX(-800px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to {
        transform:translateX(900px);
        opacity: 0;
    }
}
/* Social Media Anchor Tag Styles */
.social-media ul {
    display: flex;
    padding-left: 0;
}
.social-media ul li {
    list-style-type: none;
    margin: 11px;
    float: left;
}
.social-media ul li a {
    width: 63px;
    height: 63px;
    padding: 20px;
    background-color: #5e035983;
    border-radius: 22.5px;
}
/* FOOTER Styles */

.Upper-footer {
    background-color: #68096383;
    padding: 50px 0 50px 0;
}
footer li {
    list-style-type: none;
    margin: auto;
    vertical-align: bottom;
}
.ul-top-footer {
    padding-left: 0;
    margin-top: 20px;
}

footer{
    background-color: #5e035983;
    padding-bottom: 20px;
}
.footer-bottom {
    margin: 100px 0 100px 0;
}

