html, body {
    overflow-x: hidden;
}

/* Cumulative styles to be inherited by multiple/selectors elements */
body {
    background-color: black;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}
embed {
    width: 440px;
    height: 300px;
    margin: 0 0 50px 0;
}

.button-read-more {
    width: 140px;
    border-radius: 22.5px;
    color: white;
    background-color: rgb(89, 82, 128);
    padding: 10px 20px;
}

.button-read-more:hover {
    background-color: white;
    color:  rgb(136, 57, 136);
    text-decoration: none;
}
.more {
    background-color: #5e035983;
    color: white;
    padding: 5px;
    margin: 55px;
    border-radius: 10px;
    transition: border-radius 1s, color .5s, transform 1s;
}
.more:hover {
    text-decoration: none;
    background-color:#91919159; 
    color: #fd9002;
    border-radius: 0;
    transform: scale(.2);
}
/* ---Header Styles--- */
.navbar-li {
    background-color: rgba(80, 75, 80, 0.918);
    margin: 8px;
    border-left: solid 5px #cc04c283;
    padding: 8px;
    transform: rotate(-30deg); 
    transition: transform .8s ease ;   
}
.navbar-li:hover {
    transform: scale(1.3);
    border-left: solid 5px #fd9002;
}
@media all and (max-width: 991px){
    .navbar-li {
        width: 90px;
        float: right;
        background-color: rgba(80, 75, 80, 0.479);
        transform: scale(.8) rotate(-30deg) ;
    }
    .navbar-nav {
        float: right;
    }
}
a.navbar-link {
    padding: 8px;
    color: white;
    vertical-align: middle;
}
li a {
    transition: color 1s, transform 2s;
}
li a:hover {
    color: #fd9002;
    text-decoration: none;
}

/* Index page styles */
/* carousel styles */
.carousel h1 {
    
}

h2 .card_title {
    margin-bottom: 0;
}
.card-img-overlay {
   background-color: #5e035983;
   padding: 10px 20px;
}
.item {
    height: 450px;
}
.forex,
.modern {
    height: 448px;
}


/* Hero Section Styles */
nav {
    position: absolute;
}
.hero-wrap {
    align-content: center;
    background-image: url(./../assets/img/bg.jpg);
    width: auto;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    padding: 50px;
}
.hero {
    top: -150px ;
    opacity: 0;
    animation-name: hero;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    vertical-align: middle;
}
@keyframes hero {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(330px);
        opacity: 0.4;
    }
    75% {
        transform: translateY(250px);
        opacity: 1;
    }
    100% {
        transform: translateY(330px);
        opacity: .5;
    }
}
.hero-get-in-touch {
    top: -150px ;
    opacity: 0;
    animation-name: hero-get-in-touch;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    vertical-align: middle;
}
@keyframes hero-get-in-touch {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(330px);
        opacity: 0.4;
    }
    75% {
        transform: translateY(250px);
        opacity: 1;
    }
    100% {
        transform: translateY(300px);
        opacity: 1;
    }
}


@media all and (max-width: 420px){
    .hero {
        font-size: 39px;
    }
    .hero-wrap {
      text-align: center;
      margin-bottom: 150px;
      overflow: hidden;
      padding: 0;
    }
  }
/* Astronaut image styles */

.astro {
    height: 200px;
    transform: translateY(-200px);
    opacity: 0;
    animation: astro 30s ease 4s infinite normal forwards;
    position: absolute;
}
@keyframes astro {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    12.5% {
        transform: translateY(-350px);
        opacity: .8;
    }
    25% {
        transform: translateY(-290px);
        opacity: .9;
    }
    37.5% {
        transform: translateY(-350px)scale(.9);
        opacity: .8;
    }
    50% {
        transform: translateY(-290px) scale(.8) ;
        opacity: .7 ;
    }
    62.5% {
        transform: translateY(-350px) scale(.7);
        opacity: .6;
    }
    75% {
        transform: translateY(-300px) scale(.6);
        opacity: .5;
    }
    87.5% {
        transform: translateY(-350px) scale(.5);
        opacity: .4;
    }
    100% {
        transform: translateY(-300px) scale(.2);
        opacity: 0;
    }
}
/*  ABOUT TEXT CONTENT SECTION */
.content {
    padding: 60px 40px 90px 40px ;
    border-radius: 50px;
    box-shadow: -15px 10px 12px  rgba(136, 128, 161, 0.438);
    background-color: #68096383;
    margin: 0 0 100px 0;

}
.content, 
.rocket-wrap {
    height: 340px;
    /* padding: 20px; */
    align-items: center;
}
@media all and (max-width: 572px ){
    .content-wrap {
        padding: 10px;
    }
}
@media all and (max-width: 768px ){
    .content {
        padding: 30px 20px 90px 20px;
    }
}
@media all and (max-width: 375px ){
    .content-wrap {
        padding: 10px;
    }
    .content {
        padding-top: 30px;
    }
}
@media all and (max-width: 420px ){
    .content-wrap {
        padding: 10px;
    }
    .content {
        padding: 30px 20px 90px 20px;
    }
}
.wrap-rocket {
    transform: translateY(250px);
}
.rocket-wrap {
    transform: translateY(300px);
    animation: path 12s linear 2s infinite normal forwards;
}
.rocket {
    position: absolute;
    animation:
    rotate 1s linear 1 normal forwards,
    rocket 3s linear 3s infinite normal forwards;
}
@keyframes rotate {
    from {
        opacity: 0;
    }
    to {
        transform: rotateZ(60deg);
        opacity: 1;
    }
}
@keyframes path {
    0% {
        transform:translateX(-800px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to {
        transform:translateX(900px);
        opacity: 0;
    }
}
/* Social Media Anchor Tag Styles */
.social-media ul {
    display: flex;
    padding-left: 0;
}
.social-media ul li {
    list-style-type: none;
    margin: 11px;
    float: left;
}
.social-media ul li a {
    width: 63px;
    height: 63px;
    padding: 20px;
    background-color: #5e035983;
    border-radius: 22.5px;
}
/* Contact Us Page Styles */
.button-send-enquiry {
    width: 140px;
    padding: 9px;
    color: #ffffff;
    border: #fd9002 solid;
    background-color: #5e035a73;
    border-radius: 22.5px;
}
.button-send-enquiry:hover {
    color:#5e035a;
    border: #fd9002 solid;
    background-color: #dacfcfe1;
}
/* FOOTER Styles */

.Upper-footer {
    background-color: #68096383;
    padding: 50px 0 50px 0;
}
footer li {
    list-style-type: none;
    margin: auto;
    vertical-align: bottom;
}
.ul-top-footer {
    padding-left: 0;
    margin-top: 20px;
}

footer{
    background-color: #5e035983;
    padding-bottom: 20px;
}
.footer-bottom {
    margin: 100px 0 100px 0;
}

/* ---Family Page Styles--- */

.family-wrap {
    background-image: url(../../assets/img/family/fam.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    background-position: center;
}
.personal-view {
    border-left: #5e035a98;
    padding: 15px;
}
.Quote {
    padding: 10px;
    box-shadow: -5px 5px 20px  rgba(201, 201, 202, 0.521);
    background-color:  rgba(117, 114, 117, 0.123);
    
}
/* Sports Cars Page Styles */
.car-wrap {
    background-image: url(./../../assets/img/Sports-cars/gtr.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    background-position: center;
}
.cars-carousel {
    margin-top:20px ;
}
.cars-carousel .item {
    height: 400px;
}
.cars-carousel .item .card-img {
    height: 320px;
}
.cars-title {
    background:rgba(0, 0, 0, 0.075);
}
@media all and (max-width:420px){
    .car-wrap {
        contain: content;
        background-size: cover;
    }
    .cars-carousel .item .card-img {
        height: 200px;
        width: auto;
        align-self: center;
    }
    .cars-carousel .item {
        height: 300px;
        width: auto;
    }
    .cars-carousel .item .card {
       background: transparent;
    }
}
/* Invest Page Styles */
.invest-wrap {
    background-image: url(../../assets/img/invest/invest.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    background-position: center;
}
/* Tech Page Styles */
.tech-wrap {
    background-image: url(../../assets/img/tech/pepper.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    background-position: center;
}

/* ---ABOUT PAGE STYLES--- */
.contact-wrap {
    background-image: url(./../../assets/img/Exras/satelite.jpg);
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px ;
    background-position: center;
}